---


const { title, timeStart, timeEnd, company, desc } = Astro.props;

function formatTime(timeStart, timeEnd) {

  let formatOptions : Intl.DateTimeFormatOptions = {
    month: 'short',
    year: 'numeric'
  }
  let formattedStart = new Date(timeStart).toLocaleDateString('en-US', formatOptions);
  if(!timeEnd) {
    return formattedStart + " - Present";
  }
  let formattedEnd = new Date(timeEnd).toLocaleDateString('en-US', formatOptions);
  return formattedStart + " - " + formattedEnd;
}
const time = formatTime(timeStart, timeEnd);

---

<div class="flex">
  <div class="education__time">
    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
    <span class="education__line bg-primary block h-full w-[2px] translate-x-[7px]"></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h3 class="font-semibold mb-1">{title}</h3>
    <span class="font-semibold text-sm">{time}</span>
    <br/>
    <span class="font-semibold text-sm">{company}</span>
    <p class="my-2 text-justify">
      {desc}
    </p>
  </div>
</div>
