---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  nome: string;
  lista: string[];
  data: Date;
}
const {nome, lista, data} = Astro.props;
---

<BaseLayout title={nome}>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      <h1 class="title my-2 text-4xl font-bold">{nome}</h1>
      {data && <time>{data}</time>}
      <div class="divider my-2"></div>
        <slot />
        <ul>
            {
                lista.map(item => <li><p>{item}</p></li>)
            }
        </ul>
    </article>
  </main>
</BaseLayout>
